<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "css/PerfilStyles.css"> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset = "UTF-8"
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Scrappy - Perfil</Title>

</head>

    <nav class="navbar navbar-dark navbar-expand-lg navbar-custom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
            <li class="reactivebutton">
                <a class="nav-link" href="/">Perfil</a>
            </li>
            <li class="reactivebutton" >
                <a class="nav-link" href="/examenes">Examenes</a>
            </li>
            <li class="reactivebutton" >
                <a class="nav-link" href="/juego">Juego</a>
            </li>
            <li class="reactivebutton">
                <a class="nav-link" href="/tablero">Leaderboard</a>
            </li>
            </ul>
            <ul class="navbar-nav">
                <li class="reactivebutton">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

<body class = "main" style="background-image: url('imgs/BGS.jpg');">

    <script>

    let h = new Headers(); 
    h.append('auth_key', '<%=token%>'); 

    const api_url = "https://chatarrap-api.herokuapp.com/exams/available/<%=username%>"; 

    const id = "https://chatarrap-api.herokuapp.com/users/<%=user%>"; 

    async function getData(){
        const response = await fetch(api_url, {
            method: 'GET', 
            headers: h,
        }); 

        const response1 = await fetch(id, {
            method: 'GET', 
            headers: h,
        });

        const data = await response.json(); 
        const info = await response1.json();

        $("#usuarioJava").text(info.username); 
        $("#pendientesJava").text(data.length); 
        $("#posicionJava").text(data[1].Posicion_evaluaciones); 
        document.getElementById("nombreJava").placeholder = info.username; 
        document.getElementById("correoJava").placeholder = info.username;
        document.getElementById("areaJava").placeholder = info.usertype;
        var t1= info.streak;
        if(t1 === 0){
            document.getElementById("trofeo1").style.display ="inline-flex";
            document.getElementById("trofeo1").style.width="150px";
            document.getElementById("trofeo1").style.margin="auto";
            document.getElementById("strID").style.display ="inline-flex";
            document.getElementById("strID").style.margin="auto";
            document.getElementById("strID").textContent="Llevas una racha de "+info.streak+" !"
        }
    }

    getData(); 

    </script> 

    <div class = "row">
        <div class = "col-md-12">
                <div class ="opacity-0">
                    <div class = "text-center m-3">
                        Empty space    
                    </div>
                </div> 

                <div class = "text-center m-3">
                    <img src="imgs/avatar-hombre.png" class = "rounded" width = "150px">    
                </div>

                <div class ="text-center">
                    <h4>Bienvenido </h4> <h4 id = "usuarioJava"> Usuario</h4>
                </div>

                <div class ="opacity-0">
                    <div class = "text-center m-3">
                        Empty space    
                    </div>
                </div> 
        </div>
    </div> 

    <div class = "row">
        <div class = "col-md-6">
            <div class = "text-center">
                <div class ="profile">
                    <h5 class = "m-2">Informacion General</h5>
                    <hr></hr> 
                    <form class="row g-2">
                        <div class="col-auto">
                            <div class = "m-2">
                                <p> Nombre: </p>
                            </div> 
                        </div>
                        <div class = "col-auto">
                            <input type="password" id = "nombreJava" class="form-control" placeholder="" disabled>
                        </div> 
                    </form>
                    
                    <form class="row g-2">
                        <div class="col-auto">
                            <div class = "m-2">
                                <p> Correo: </p>
                            </div> 
                        </div>
                        <div class = "col-auto">
                            <input type="password" id = "correoJava" class="form-control" placeholder= "" disabled>
                        </div> 
                    </form>
                    <form class="row g-2">
                        <div class="col-auto">
                            <div class = "m-2">
                                <p> Area: </p>
                            </div> 
                        </div>
                        <div class = "col-auto">
                            <input type="password" id = "areaJava" class="form-control" placeholder="" disabled>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
                
        <div class = "col-md-6">
            <div class = "text-center">
                <div class ="profile-left">
                    <h5 class = "m-2">Evaluaciones pendientes</h5> 
                    <hr></hr> 
                    <div class = "numero-evaluaciones"> 
                        <div class = "pendientes">
                            <h1 id = "pendientesJava"> 0 </h1>
                            <p>Pendientes</p>  
                     
                        </div> 
                        <div class = "posiciones">
                            <h1 id = "posicionJava"> 0 </h1>
                            <p>Posición Evaluaciones</p>                       
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class ="opacity-0">
            <div class = "text-center m-3">
                Empty space    
            </div>
        </div> 
            
    </div> 

    
    <div class = "row">
        <div class = "col-md-12">
            <div class = "text-center">
                <div class = "profile-center">  
                    <div class ="opacity-0">
                        Empty space    
                    </div> 
                    <h5> Trofeos </h5> 
                    <hr></hr> 
                    
                    <img style="display: none;" id="trofeo1" src="/imgs/Streakicon.png"/>
                    <img style="display: none;" id="trofeo1" src="/imgs/Streakicon.png"></img>
                    <h5 style="display: none;" id="strID">Hi</h5>
                </div>
            </div>
        </div> 
    </div> 
    <h1 style="display: none;" id="trofeo2">Hello</h1>

</body>

