<!DOCTYPE html>
<html lang="en">

<head>

    <link rel = "stylesheet" href = "css/ScrappyStyles.css"> 

    <meta charset = "UTF-8"
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Scrappy - Register</Title>

</head>

<body class = "main" style="background-image: url('imgs/BGS.jpg');">
    <div class = "center">
    <div class = "Ternium-logo"> 
        <img src="imgs/TerniumLogo.png" height = "50px" width = "150px">
    </div> 
        <h1> Registrar </h1>
        <form method ="POST" action="rergistrar">
            <div class = "txt_field">
                <input type = "text" required>
                <span></span>
                <label>nombre</Label>
            </div>
            <div class = "txt_field">
                <input type = "text" required>
                <span></span>
                <label>correo</Label>
            </div>
            <div class = "txt_field">
                <input type = "text" required>
                <span></span>
                <label>area</Label>
            </div>
            <div class = "txt_field">
                <input type = "password" required>
                <span></span>
                <label>contraseña</Label>
            </div>
            <div class = "txt_field">
                <input type = "password" required>
                <span></span>
                <label>confirmar contraseña</Label>
            </div>
            <a href = "Perfil.html" ><input type = "submit" value= "Registrar"></a> 
            <div class = "registro">
                ¿Ya tienes cuenta? <a href = "/Loginpage">Ingresa</a>
            </div>
        </form>
    </div> 
</body>